@import url(http://fonts.googleapis.com/css?family=Lato:300,700,900,300italic);

@mixin body-font-light {
    font-family: 'Lato', helvetica, verdana, sans-serif;
    font-style: normal;
    font-weight: 300;     
}

@mixin body-font-light-italic {
    font-family: 'Lato', helvetica, verdana, sans-serif;
    font-style: italic;
    font-weight: 300;     
}

@mixin body-font-light-bold {
    font-family: 'Lato', helvetica, verdana, sans-serif;
    font-style: normal;
    font-weight: 700;     
}

@mixin headline-font {
    font-family: 'Lato', helvetica, verdana, sans-serif;
    font-style: normal;
    font-weight: 900;     
}

$background-color: #262626;
$base-font-size: 20px;
$color: #f4f4f4;
$color2: #9ed422;
$line-height: 1.6;

@function em($px, $base: $base-font-size) { @return ($px / $base) * 1em;
}